@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

:root {
    --source: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--source);
}

p {
    font-size: 1rem;
}

a {
    outline: none;
}

/********************************************************************

                            HEADER

********************************************************************/
header {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    background-image: url('../img/patate.jpg');
    background-size: cover;
    background-position-y: center;
    color: white;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

#head-title p, h2 {
    font-size: 2.4rem;
}

#head-title {
    animation: roue 6s ease-in-out infinite;
}

@keyframes roue {
    0% {
        transform: rotateY(360deg);
    }

    10% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/********************************************************************

                            NAVIGATION

********************************************************************/
nav ul {
    height: 60px;
    text-align: center;
    background-color: rgb(235, 57, 57);
    -webkit-box-shadow: 0 5px 8px 0 #aaa;
    box-shadow: 0 5px 8px 0 #aaa;
}

nav ul li {
    display: inline-block;
    height: 100%;
}

nav a {
    display: block;
    height: 100%;
    width: 132px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    padding-top: 18px;
}

nav a:hover {
    background-color: black;
}

nav li:first-child a {
    border-right: none;
}

nav li:last-child a {
    border-left: none;
}

/********************************************************************

                            SECTIONS

********************************************************************/
section {
    padding: 35px 0;
    width: 980px;
    margin: auto;
}

h2 {
    min-height: 50px;
    margin-bottom: 25px;
}

h2 span {
    padding-left: 50px;
    position: relative;
    min-height: 50px;
    min-width: 50px;
}

h2 i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section > p {
    margin-bottom: 35px;
}

/********************************************************************

                            SECTION 1

********************************************************************/
#cartes {
    display: flex;
    flex-wrap: wrap;
}

.carte {
    width: 150px;
    margin: 0 12px 20px 0px;
}

.carte img {
    height: auto;
    max-width: 100%;
    border-radius: 4px;

    transition: transform 0.8s, filter 0.8s;
}

.carte img:hover {
    transition: transform 20s, filter 20s;
    transform: scale(6, 6);
    filter: saturate(10);
}

.nom {
    font-size: 1.1rem;
    font-weight: 700;
}

/********************************************************************

                            SECTION 2

********************************************************************/
iframe {
    width: 100%;
}

/********************************************************************

                            SECTION 3

********************************************************************/
#contact {
    display: flex;
}

#contact img {
    max-width: 100%;
    height: 422px;
    margin-right: 50px;
}

form {
    flex-grow: 1;
    position: relative;
}

form input, form textarea {
    display: block;
    width: 100%;
    border: none;
    font-size: 1rem;
}

form input::placeholder, form textarea::placeholder {
    color: rgb(221, 219, 219);
}

.field {
    display: flex;
    border: 1px solid rgb(221, 219, 219);
    margin-bottom: 18px;
}

.field span {
    display: block;
    position: relative;
    width: 60px;
}

.field i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: rgb(221, 219, 219);
}

form input {
    height: 58px;
    padding-right: 20px;
}

.fa-comment {
    top: 20% !important;
    transform: translate(-50%, -82%) !important;
}

form textarea {
    resize: none;
    height: 151px;
    margin-bottom: 34px;
    padding: 20px 20px 20px 0px;
}

form input[type="submit"] {
    width: 160px;
    height: 40px;
    margin: auto;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background-color: rgb(164, 88, 235);
    -webkit-box-shadow: 0 5px 32px 0 #939EB3;
    box-shadow: 0 5px 32px 0 #939EB3;
    cursor: pointer;
    padding: 0 8px;
}

form input[type="submit"]:hover {
    background-color: rgb(108, 27, 184);
    border-top: 4px solid rgb(47, 6, 85);
    padding-top: 4px;
}

/********************************************************************

                            FOOTER

********************************************************************/
footer {
    position: relative;
    margin-top: 35px;
    height: 150px;
    background-color: rgb(21, 113, 233);
}

footer ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: center;
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer a {
    display: block;
    color: white;
    margin: 0 20px;
    font-size: 3.4rem;
}

footer a:hover {
    color: #bbb;
}
